/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "candy-icons";
}
//@theme "/usr/share/rofi/themes/paper-float.rasi"
//@theme "/usr/share/rofi/themes/sidebar.rasi"
//@theme "/usr/share/rofi/themes/docu.rasi"
//@theme "/usr/share/rofi/themes/fancy.rasi"
//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
//@theme "/usr/share/rofi/themes/paper-float.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
//@theme "/home/anower/.local/share/rofi/themes/catppuccin-mocha.rasi"
//@theme "/home/anower/.local/share/rofi/themes/catppuccin-mocha.rasi"
//@theme "/home/anower/.local/share/rofi/themes/catppuccin-mocha.rasi"
//@theme "/usr/share/rofi/themes/c64.rasi"
//@theme "/usr/share/rofi/themes/sidebar-v2.rasi"
@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
